<table>
    <tr>
        <td><a href="/">Home</a></td>
        <td><a href="/home/layoutexample">Somaliland</a></td>
        <td><a href="/home/layoutexample2">Egypt</a></td>
        <td><a href="/home">Wararka</a></td>
    </tr>
</table>
