@model Category;

<h3>Edit Course</h3>
<br />

<form method="post"  asp-action="Edit">
    <input type="hidden" asp-for="id" />
    <div class="form-group">
        <label class="form-label"> Category Name</label>
        <input asp-for="name" class="form-control"/>
    </div>

    <br /><br />

    <a class="btn btn-danger"  asp-action="Index">Cancel</a>
    <button type="submit" class="btn btn-primary">Edit</button>

</form>