@model stud;

<h3>Confirm: do you want to delete?</h3>
<br />

<form method="post" asp-action="Delete">
    <input type="hidden" asp-for="id" />
    <div class="form-group">
        <label class="form-label"> Category Name</label>
        <input asp-for="name" class="form-control" disabled />
    </div>

    <br /><br />

    <a class="btn btn-primary" asp-action="Index">Cancel</a>
    <button type="submit" class="btn btn-danger">Yes, Delete !</button>

</form>