@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Tima-ade</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Application name is: @ViewData["appname"]</p>
</div>

<h2>List of Shift 6 students are:</h2>
<ol>
    <li>Ahmed Jama</li>
    <li>Amina Ali</li>
</ol>

<br />
<img src="~/images/mohamed.jpg" style="width:150px; height:150px;"/>

<div class="row">
    <div class="col-md-6">
        <b>Females</b>
        <br />
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Mobile</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Amina Ahmed</td>
                    <td>252634412255</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Fadumo Ahmed</td>
                    <td>252634415555</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <b>Males</b>
        <br />
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Mobile</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Khadar Ahmed</td>
                    <td>252634412115</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Ibrahim Ahmed</td>
                    <td>252634115555</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>