@model deposit;

<h3>Guul, Lacagta waa la direy !!</h3>

<b>Faahfaahinta:</b>
<br />

<b>Magaca:</b> @Model.accountname <br />
<b>Tirada:</b> @Model.amount.ToString() <br />
<b>Faahfaahin:</b> @Model.remarks <br />