
@model student;
<p>Application name is: @ViewData["appname"]</p>
<br />
<h3>New Student</h3>
<br />

<label>ID:</label>
<input type="text" placeholder="Enter Student ID"/>
<br />

<label>Name:</label>
<input type="text" placeholder="Enter Student Name" />
<br />

<label>Email:</label>
<input type="email" placeholder="Enter Student Email" />
<br />

<button class="btn btn-primary">Save</button>

